<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Editar hotel</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Editar hotel</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/admin/hotels/edit/{id}(id=${hotel.id})}" th:object="${hotel}">
                            <div class="form-group mb-3">
                                <label class="form-label" for="nombre">Nombre hotel:</label>
                                <input class="form-control" id="nombre" type="text" th:field="*{nombre}"
                                       placeholder="Introduce el nombre del hotel">
                                <p class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
                            </div>
                            <input type="hidden" th:field="*{direccionDTO.id}">
                            <div class="form-group mb-3">
                                <label class="form-label" for="lineaDireccion">Linea direccion:</label>
                                <input class="form-control" id="lineaDireccion" type="text"
                                       th:field="*{direccionDTO.lineaDireccion}"
                                       placeholder="Introduce la linea de direccion">
                                <p class="text-danger" th:if="${#fields.hasErrors('direccionDTO.lineaDireccion')}"
                                   th:errors="*{direccionDTO.lineaDireccion}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="ciudad">Ciudad:</label>
                                <input class="form-control" id="ciudad" type="text" th:field="*{direccionDTO.ciudad}"
                                       placeholder="Introduce la ciudad">
                                <p class="text-danger" th:if="${#fields.hasErrors('direccionDTO.ciudad')}"
                                   th:errors="*{direccionDTO.ciudad}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="pais">Pais:</label>
                                <input class="form-control" id="pais" type="text" th:field="*{direccionDTO.pais}"
                                       placeholder="Enter pais">
                                <p class="text-danger" th:if="${#fields.hasErrors('direccionDTO.pais')}"
                                   th:errors="*{direccionDTO.pais}"></p>
                            </div>
                            <!-- Single Room Details -->
                            <div class="form-group mb-3">
                                <input type="hidden" th:field="*{habitacionDTOs[0].id}">
                                <label class="form-label" for="singleRoomCount">Cuenta habitaciones individuales:</label>
                                <input class="form-control" id="singleRoomCount" type="number"
                                       th:field="*{habitacionDTOs[0].contadorHabitacion}"
                                       placeholder="Introduce el contador de habitaciones individuales">
                                <input type="hidden" th:field="*{habitacionDTOs[0].tipoHabitacion}">
                                <p class="text-danger" th:if="${#fields.hasErrors('habitacionDTOs[0].contadorHabitacion')}"
                                   th:errors="*{habitacionDTOs[0].contadorHabitacion}"></p>
                                <label class="form-label" for="singleRoomPrice">Single Room Price:</label>
                                <input class="form-control" id="singleRoomPrice" type="number" step="0.01"
                                       th:field="*{habitacionDTOs[0].precioPorNoche}"
                                       placeholder="Introduce el precio para las habitaciones individuales">
                                <p class="text-danger" th:if="${#fields.hasErrors('habitacionDTOs[0].precioPorNoche')}"
                                   th:errors="*{habitacionDTOs[0].precioPorNoche}"></p>
                            </div>
                            <!-- Double Room Details -->
                            <div class="form-group mb-3">
                                <input type="hidden" th:field="*{habitacionDTOs[1].id}">
                                <label class="form-label" for="doubleRoomCount">Contador habitaciones dobles:</label>
                                <input class="form-control" id="doubleRoomCount" type="number"
                                       th:field="*{habitacionDTOs[1].contadorHabitacion}"
                                       placeholder="Introduce el contador de habitaciones dobles">
                                <input type="hidden" th:field="*{habitacionDTOs[1].tipoHabitacion}">
                                <p class="text-danger" th:if="${#fields.hasErrors('habitacionDTOs[1].contadorHabitacion')}"
                                   th:errors="*{roomDTOs[1].roomCount}"></p>
                                <label class="form-label" for="doubleRoomPrice">Double Room Price:</label>
                                <input class="form-control" id="doubleRoomPrice" type="number" step="0.01"
                                       th:field="*{habitacionDTOs[1].precioPorNoche}"
                                       placeholder="Introduce el precio para las habitaciones dobles">
                                <p class="text-danger" th:if="${#fields.hasErrors('habitacionDTOs[1].precioPorNoche')}"
                                   th:errors="*{habitacionDTOs[1].precioPorNoche}"></p>
                            </div>
                            <!-- -->
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-primary">Actualizar Hotel</button>
                                <a th:href="@{/admin/hotels}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
