<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Reservas</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Reservas</h2>
                    </div>
                    <div class="card-body">
                        <h5>Numero Confirmacion:</h5>
                        <p class="mb-3" th:text="${reservaDTO.numeroConfirmacion}"></p>
                        <hr>
                        <h3 class="mb-2" th:text="${reservaDTO.nombreHotel}">Hotel</h3>
                        <p class="small mb-4" th:text="${reservaDTO.direccionHotel.lineaDireccion + ', ' + reservaDTO.direccionHotel.ciudad + ', ' + reservaDTO.direccionHotel.pais}"></p>
                        <div class="row text-center my-5">
                            <div class="col-md-4">
                                <h5>Check-in</h5>
                                <p th:text="${reservaDTO.fechaCheckIn}"></p>
                            </div>
                            <div class="col-md-4">
                                <h5>Check-out</h5>
                                <p th:text="${reservaDTO.fechaCheckOut}"></p>
                            </div>
                            <div class="col-md-4">
                                <h5>Duracion</h5>
                                <p th:text="${dias} + ' noches(s)'"></p>
                            </div>
                        </div>
                        <h5>Habitaciones:</h5>
                        <ul class="mb-3">
                            <li th:each="habitacion : ${reservaDTO.seleccionesHabitacion}">
                                <span th:text="${habitacion.contar}"></span> x <span th:text="${habitacion.tipoHabitacion}"></span>
                            </li>
                        </ul>
                        <hr>
                        <h3>Precio Total:</h3>
                        <p class="mb-3" th:text="'$ ' + ${#numbers.formatDecimal(reservaDTO.precioTotal, 1, 'COMMA', 2, 'POINT')}"></p>
                        <h5 class="small">Metodo Pago:</h5>
                        <p class="small mb-3" th:text="${reservaDTO.metodoPago}"></p>
                        <hr>
                        <h5>Detalles huesped:</h5>
                        <p class="mb-2">Nombre: <span th:text="${reservaDTO.nombreCliente}"></span></p>
                        <p class="mb-3">Email: <span th:text="${reservaDTO.emailCliente}"></span></p>
                    </div>
                </div>
                <div class="mt-3">
                    <a href="/manager/bookings" class="btn btn-primary">Volver a reservas</a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>