<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Detalles de cuenta</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div th:if="${param.success}">
                    <div class="alert alert-success">Informacion de usuario actualizada</div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Detalles cuenta cliente</h2>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group mb-3 row">
                                <label class="col-sm-3 col-form-label fw-bold" for="username">Username:</label>
                                <div class="col-sm-9">
                                    <input class="form-control-plaintext" id="username" readonly type="text"
                                           th:value="${usuario.username}">
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="col-sm-3 col-form-label fw-bold" for="nombre">Nombre:</label>
                                <div class="col-sm-9">
                                    <input class="form-control-plaintext" id="nombre" readonly type="text"
                                           th:value="${usuario.nombre}">
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="col-sm-3 col-form-label fw-bold" for="apellido">Apellido:</label>
                                <div class="col-sm-9">
                                    <input class="form-control-plaintext" id="apellido" readonly type="text"
                                           th:value="${usuario.apellido}">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <a th:href="@{/customer/account/edit}" class="btn btn-primary">Editar informacion</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
